.marquee {
  border: 2px solid black;
  background-color: #111111;
  color: white;
  overflow: hidden;
  width: 100%;
  height: 70px;
}
main {
  margin: 0 auto;
  width: 100%;
}

.font {
  font-family: Quicksand;
}
.display-flex {
  display: flex;
}

.navbar {
  margin: 0px auto;
  justify-content: space-around;
}
.navbar,
.logo-section {
  align-items: center;
}
.logo-doll {
  width: 62px;
  height: 62px;
  margin-right: 16px;
}
.logo-name {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar .nav-item {
  list-style: none;
  margin-right: 32px;
}
.nav-anker {
  text-decoration: none;
  color: black;
}
.orange {
  color: rgb(254, 163, 1);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.blue {
  color: rgb(1, 172, 253);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.green {
  color: rgb(5, 212, 223);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.indigo {
  color: rgb(93, 88, 239);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.contact {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 12px;

  /* Orange */
  background: rgb(254, 163, 1);
  border: none;
  padding: 10px 50px;
}
.banner-with-kids {
  justify-items: center;
  align-items: center;
  justify-content: space-between;

  margin: 0px 135px;
}

.content {
}
.title-banner {
  font-family: Quicksand;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.orange-big {
  color: rgb(254, 163, 1);
}
.blue-big {
  color: rgb(1, 172, 253);
}
.banner-des {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.child-img img {
  width: 468.61px;
  height: 575px;
}
.btn-ank {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.btn-black {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 12px;
  padding: 10px 50px;
  border: none;
  /* Black */
  background: rgb(17, 17, 17);
}
.menu-bar {
  display: none;
}
@media screen and (max-width: 576px) {
  .navbar {
    max-width: 610px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(254, 163, 1);
    padding: 10px;
    margin-bottom: 28px;
    width: 100%;
  }
  .marquee {
    width: 100%;
  }
  .logo-doll {
    padding-left: 40px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 576px) {
  .first-bg {
    width: 610px;
    width: 100%;
  }
  .banner-with-kids {
    flex-direction: column;
    text-align: center;
    flex-direction: column-reverse;

    margin-bottom: 28px;
    padding: 0px;
  }

  .title-banner {
    text-align: center;
    font-size: 45px;
    margin-bottom: 18px;
  }
  .banner-des {
    text-align: center;
    font-size: 15px;
    margin-bottom: 18px;
  }
  .btn-black {
    align-items: center;
  }
  .child-img img {
    margin-bottom: 20px;
    margin-top: 28px;
  }
  .nav-ul {
    display: none;
  }
  .contact {
    display: none;
    width: 100%;
  }
  .logo-english {
    display: none;
  }
  .orange-big {
    display: block;
  }

  .menu-bar {
    display: block;
    font-size: 30px;
    padding: 0px 80px;
  }
}
.bg {
  background-image: url(./assets/bg.png);
  height: auto;
  margin: 0px auto;
  width: 100%;
}
.content {
  margin-top: 60px;
}
.title-std {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 80px;
}
.box-container {
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin-right: 29px;
}
.box {
  margin-right: 29px;
  padding: 55px 40px;
}
.blue-box {
  width: 367.8px;
  height: 476.78px;
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.title-curri {
  color: rgb(32, 32, 32);
  font-family: Quicksand;
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 33px;
}
.box img {
  width: 100px;
}
.box-des {
  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 38px;
}
.yellow-box {
  width: 367.8px;
  height: 476.78px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  margin-right: 29px;
}
.yellow-box img {
  margin-bottom: 10px;
}
.indigo-box {
  width: 367.8px;
  height: 476.78px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.read-ank {
  text-decoration: none;

  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}
.blue {
  color: rgb(100, 200, 255);
}
.yellow {
  color: rgb(240, 170, 0);
}
.indigo-sec {
  color: rgb(135, 0, 255);
}
.arrow-btn {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
}
.color {
  color: rgb(255, 255, 255);
  font-family: Font Awesome 5 Free;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 50%;

  /* Orange */
  background: rgb(254, 163, 1);
  padding: 19px 22px;
  border: none;
}
.btn-anker {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.margin {
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .bg {
    width: 610px;
  }
  .box-container {
    flex-direction: column;
    justify-items: center;
    margin: 0px auto;
    padding: 17px;
  }
  .box {
    width: 100%;
    margin-bottom: 13px;
  }
  .arrow-btn {
    display: none;
  }
}
.bg-story {
  background: url(./assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  height: 1018.02px;
}
.bg-story {
  width: auto;
  padding: 0px 140px;
}
/* .first-box {
  width: 540px;
  height: 337px;
  
} */
.first-box {
}

.overall-story {
  display: flex;
  justify-items: center;
  gap: 20px;
}
.title-story {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 80px;
}
.content-story img {
  width: 540px;
  height: 337px;
  border-radius: 16px 16px 0px 0px;
}
.first-box {
  width: 540.27px;
  height: 660.52px;
  background-color: white;
  border-radius: 16px;
}

.stories {
  height: 950px;
  background-image: url(./assets/bg.png),
    linear-gradient(to top, rgb(255, 213, 135), rgb(255, 241, 215), #ffffff);
}
.stories-primary h1 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 60px;
}
.stories-subprimary {
  height: 630px;
  width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.stories-subprimary-card-1 {
  height: 630px;
  width: 540px;
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
}
.btn-1 {
  position: absolute;
  left: 50px;
  top: 315px;
  height: 47px;
  width: 174px;
  border-radius: 48px;
  background: #3cd8e8;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
}
.btn-2 {
  position: absolute;
  left: 50px;
  top: 160px;
  height: 38px;
  width: 174px;
  border-radius: 48px;
  background: #95b226;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
}
.btn-3 {
  position: absolute;
  top: 160px;
  left: 50px;
  height: 38px;
  width: 174px;
  border-radius: 48px;
  background: #5d58f0;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
}
.btn-4 {
  position: absolute;
  top: 160px;
  left: 50px;
  height: 38px;
  width: 174px;
  border-radius: 48px;
  background: #95b226;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
}
.btn-5 {
  position: absolute;
  left: 50px;
  top: 160px;
  height: 38px;
  width: 174px;
  border-radius: 48px;
  background: #95b226;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
}
.btn-1:hover {
  background: blueviolet;
}
.btn-2:hover {
  background: blueviolet;
}
.btn-3:hover {
  background: blueviolet;
}
.btn-4:hover {
  background: blueviolet;
}
.btn-5:hover {
  background: blueviolet;
}

.stories-subprimary-card-1 img {
  border-radius: 16px 16px 0px 0px;
}
.stories-subprimary-card-1 h3 {
  font-size: 24px;
  font-weight: bold;
}
.stories-subprimary-card-1 p {
  font-size: 15.34px;
  font-weight: 500px;
  line-height: 28.8px;
  color: #666666;
}
.padding {
  padding-left: 50px;
  padding-top: 50px;
}
.stories-subprimary-card-2 {
  height: 630px;
  width: 601px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.stories-subprimary-card-2-1 {
  position: relative;
  background: #ffffff;
  height: 310px;
  width: 290px;
  border-radius: 16px;
}
.stories-subprimary-card-2 img {
  border-radius: 16px 16px 0px 0px;
}
.padding-1 {
  padding-left: 50px;
  padding-top: 30px;
}
.bttn {
  text-align: center;
  margin: auto;
  background: none;
  margin-top: 60px;
}
.see-all {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;

  border-radius: 12px;
  padding: 7px 45px;
  /* Black */
  margin: auto;
  border: none;
  background: rgb(17, 17, 17);
  
}
.see-all{
  margin-top: 80px;
  margin-left: 500px;
}

@media screen and (max-width: 576px) {
  .stories-subprimary-card-1 {
    display: none;
  }
  .stories-subprimary {
    max-width: auto;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0, auto;
    display: block;
  }

  .stories-subprimary img {
    width: 100%;
  }
  .stories {
    height: 950px;
    width: 610px;
    justify-items: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  .stories-primary h1 {
    padding-left: 100px;
  }
  .see-all{
    margin-left: 220px;
    margin-top: 550px;
  }
  }
  .button {
    background: black;
    color: white;
    height: 50px;
    width: 197px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
  }
  .btn-2:hover {
    background: blueviolet;
  }
  .btn-3:hover {
    background: blueviolet;
  }
  .btn-4:hover {
    background: blueviolet;
  }
  .btn-5:hover {
    background: blueviolet;
  }
  .see-all{

    
  }
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.padding-1 {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 15.34px;
  font-weight: 700;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
}
.text-content {
  height: 293px;
  background-color: white;
  margin-top: -95px;
  padding: 61px 99px 34px 38px;
  border-radius: 16px;
}
.blue-button-sep {
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  border: none;
  border-radius: 47.93px;
  padding: 15px 19px;
  background: rgb(60, 216, 232);
  margin-bottom: 10px;
}
.headline {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.35px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}
.desc {
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
}
.box-story {
  width: 290.69px;
  height: 318.61px;
  background-color: white;
  border-radius: 16px;
}
.box-story img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.green-button {
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  border-radius: 47.93px;
  border: none;
  padding: 10px 19px;
  background: rgb(149, 178, 38);
  position: absolute;
  margin-top: -30px;
  margin-left: 38px;
  margin-bottom: 4px;
}
.box-story p {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 800;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
}
.blue-button {
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  border-radius: 47.93px;
  border: none;
  padding: 10px 19px;
  background: rgb(93, 88, 240);
  position: absolute;
  margin-top: -30px;
  margin-left: 38px;
  margin-bottom: 4px;
}
.small-card-content {
  padding: 43px 54px 33px 38px;
}
.one {
  margin-top: -10px;
}
.two {
  margin-top: -10px;
}
.three {
  margin-top: -11px;
}
.four {
  margin-top: -10px;
}
@media screen and (max-width: 576px) {
  .overall-story {
    flex-direction: column;
  }
  .first-box {
    display: none;
  }
  .green-button {
    position: relative;
    padding: 5px 19px;
    font-size: 12px;
  }
  .blue-button {
    position: relative;
    padding: 5px 19px;
    font-size: 12px;
  }
  .grid-box {
    grid-template-columns: repeat(2, 1fr);
    width: 100.09px;
    height: 179.59px;
    justify-items: left;
    gap: 10px;
  }
  .box-story {
    width: 240.9px;
    height: 250.59px;
    justify-items: center;
    text-align: center;
    justify-content: center;
  }
  .bg-story {
    padding: 10px;
    width: 610px;
  }
  .story-two {
    width: 240.09px;
  }
  .one {
    margin-top: -15px;
  }
  .two {
    margin-top: -10px;
  }
  .three {
    margin-top: -11px;
  }
  .four {
    margin-top: -10px;
  }
  .box-story p {
    line-height: 20px;
  }
}

.bg-footer {
  background-color: rgb(1, 172, 253);
  padding: 123px 200px 174px 140px;
}
.full-content {
  display: flex;

  justify-content: center;
}
.column-wise-about {
  display: flex;
  flex-direction: column;
  margin-right: 143px;
}
.about {
  text-decoration: none;
  color: white;
}
.icon {
  width: 40.61px;
  height: 40px;
}
.footer-des {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin-right: 272px;
}
.about-title {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.about {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.social-title {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.icon {
  margin-right: 8px;
}

@media screen and (max-width: 576px) {
  .bg-footer {
    padding: 66px 16px;
    width: 598px;
  }

  footer {
    /* width: 100%; */
    height: auto;
  }
  .full-content {
    flex-direction: column;
    padding: 66px 40px;
  }
  .footer-des {
    display: inline;
    justify-content: left;
  }
  .logo-footer {
    margin-right: 300px;
    margin-bottom: 24px;
  }
  .column-wise-about {
    margin-top: 32px;
  }
  .about-title {
    margin-bottom: 28px;
  }
  .about {
    margin-bottom: 17px;
  }
  .social-meadia {
    margin-top: 32px;
  }
}
